
  .editor-area{
      padding:16px 16px 16px 0;
      margin-left: 16px;
      color: #999;
      border-bottom: 1px solid $color-border;
      cursor: pointer;
      .editor-head{
          >div{
              display: inline-block;
              margin-right: 13px;
          }
      }
  
      .text{
          margin:0 8px;
      }
  
      .iconfont{
          font-size: 10px;
          color: #999;
      }
  }