.note-home-container{
  position: absolute;
  width: 100%;
  height: 100%;

  .note-search-area{
    height: 100px;
    background: #fff;
    padding: 16px 32px;
    border: 1px solid $color-border;
    position: relative;

    input{
      width: 100%;
      height: 30px;
      appearance: none;
      border: none;
      box-shadow: none;
      outline: none;
      font-size: 20px;

      &::-webkit-input-placeholder {
        color: #999;
        font-size: 24px;
      }
      &::-moz-placeholder {
        color: #999;
        font-size: 24px;
      }
      &::-ms-input-placeholder {
        color: #999;
        font-size: 24px;
      }
    }

    .slect-book-area{
      position: absolute;
      bottom: 8px;

      .select-btn{
        cursor: pointer;
        display: inline-block;
        margin-left: 8px;
        >span{
          color: $color-primary;

          &.iconfont{
            font-size: 12px;

          }
        }
        
      }

    }
  }


  .note-home{
    height: 100%;
    z-index: 0;
    display: flex;
   
    
    &.search-show{
      transition: height .2s;
      height: calc(100% - 100px);
    }
    .note-list-area{
      width: 350px;
      height: 100%;
      border-right: 1px solid $color-border;
  
      .note-module-title{
        padding: 16px 32px 8px 32px;
        border-bottom: 1px solid $color-border;
  
        h4{
          font-size: $title-size;
          color: $title-color;
          font-weight: 100;
          letter-spacing: 2px;
        }
  
        .note-info{
          margin-top: 32px;
          display: flex;
  
          .note-total{
            flex: 1;
            color: #666;
          }
  
          .note-chose{
            width: 100px;
            text-align: right;
            color: #333;
            cursor: pointer;
  
            .iconfont{
              font-size: 10px;
              margin-left: 4px;
            }
          }
  
        }
      }
      .node-list-container{
        height: calc(100% - 130px);
        overflow-y: scroll;
      }
      .note-list-wrap{
       
        .note-item{
          height: 120px;
          box-sizing: border-box;
          padding: 8px 32px;
          position: relative;
          cursor: pointer;
          transition: all .2s;
          &.active{
            &::after{
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              border: 3px solid #ddd;
              z-index: -1;
            }
          }
  
          .handle-area{
            position: absolute;
            top: 8px;
            right: 16px;
  
            >div{
              display: inline-block;
              margin-left: 8px;
  
              .iconfont{
                font-size: 20px;
                color: #fff;
              }
  
            }
          }
  
          .note-title{
            font-size: 18px;
          }
          .note-create-time{
            font-size: 12px;
            margin-top: 4px;
          }
          .note-primary{
            margin-top: 8px;
          }
  
          &:hover{
            background: $color-primary;
            border-color: $color-primary;
  
            .note-title{
              color: #fff;
            }
            .note-create-time{
              color: #fff;
            }
            .note-primary{
              color: #fff;
            }
            &::after{
              border: none;
            }
          }
        }
      }
    }
  
    .note-detail-area{
      flex: 1;
      padding:16px 32px;
      overflow: auto;

      .handler-area{
        >div{
          display: inline-block;
          margin-right: 8px;
          cursor: pointer;
      
          .iconfont{
              font-size: 20px;
              font-weight: 600;
              color: #ccc;
              transition: all .2s;

              &:hover{
                color: $color-primary;
              }

              &.icon-select{
                color: $color-primary;
              }
      
          }
        }
      }
    }

    .alarm-note-list-wrap{

      border-bottom: 2px solid $color-border;

      .toggle-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 16px;
        color: #666;
        display: flex;
  
        .left{
          flex: 1;
          text-align: left;

          .iconfont{
            font-size: 12px;
            margin-right: 5px;
          }
        }
  
        
        .right{
          flex: 1;
          text-align: right;

          .iconfont{
            color: #999;
            margin-left: 5px;
          }
        }
      }

      .alarm-note-list{
        padding: 16px;
      }
    }

   
  }

}

