.lable-title-area{
    padding: 16px 32px;
    border-bottom: 1px solid $color-border;
    position: relative;

    h4{
        font-size: $title-size;
        font-weight: 100;
        color: $title-color;

    }

    .lable-search{
        margin-top: 32px;
    }

    .add{
        position: absolute;
        top: 16px;
        right: 32px;
        cursor: pointer;

        .iconfont{
            color: $color-primary;
            font-size: 20px;
        }

    }

   
}

.lable-list {
    margin-top: 8px;
    padding: 32px;
  
    .lable-item-list {
      cursor: pointer;
      .lable {
        display: inline-block;
        padding: 4px 16px;
        background: #f8f8f8;
        border: 1px solid $color-border;
        border-radius: 4px;
        margin-top: 8px;
        cursor: pointer;
        transition: all 0.2s;
  
        .num {
          margin-left: 8px;
          color: $color-primary;
        }
  
        &:hover {
          background: $color-primary;
          border-color: $color-primary;
          color: #fff;
  
          .num {
            color: #fff;
          }
        }
      }
      .handle {
        display: inline-block;
        .iconfont {
          margin-left: 5px;
          color: #fff;
          cursor: pointer;
        }
      }
  
      &:hover {
        .lable {
          border-color: $color-primary;
        }
        .handle {
          .iconfont {
            margin-left: 5px;
            color: #666;
          }
        }
      }
    }
  }