$color-primary: #2dbe60;
$color-border: #ddd;

$title-size: 24px;
$title-color: #666;

$box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04), -6px 8px 15px rgba(0, 0, 0, 0.04), 6px 8px 15px rgba(0, 0, 0, 0.04);